{% extends "base.html" %}
{% block headscripts %}
    <script type="text/javascript">
        // These fields are coming from the "/task" start_exp() in experiments.py
        var uniqueid = "{{ uniqueid }}";
        var sessionid = "{{ sessionid }}";
        var experimentname = "{{ experimentname }}";
        var surveyid = "{{ surveyid }}";
        var debug = "{{ debug }}";

    </script>
{% endblock %}s

{% block content %}

    <div class="row" style="height: 30px;"></div>

    <!-- Instructions block -->
    <p id="inst" class="instructions lead tasktext"></p>
    <div class="row"  id = 'taskContainer'>
        <div class="row">
            <div id="InstructionSide" class='col-sm-4 col-sm-offset-4 '>
                <p style="margin:10px; font: 16px Helvetica; border: 2px solid black; padding: 5px; background-color: #2aabd2">
                    Please practice with a few balloons. You will have 10 balloons to practice with.<br><br>
                    To pump the balloon click anywhere above the 'cash in' button. <br><br>
                    To cash in the balloon click on the 'cash in' button.
                </p>
            </div>
        </div>
        <div class="row">
            <div id = 'mainContainer' class = 'col-sm-4 col-sm-offset-4' style="border: 2px solid black;background-color: #f8f7ff; height:500px; text-align:center;">
                <p id="pumpText" style="position: relative; font: 30px Helvetica; top: 15px;">0 tokens</p>
                <img id="balloonIm" src="static/{{ experimentname }}/images/PurpleBalloon.png" style="position: relative;"/>
                <p id="resultText" style="color:red; position: relative; font: 30px Helvetica; top: 15px;">Popped</p>
                <button id ="ContinueButton" class="btn btn-success btn-lg btn-responsive" style="position:relative;z-index:2;font:21px Arial; opacity:1"><span id="ContinueText">Next Balloon</span><span class="glyphicon glyphicon-step-forward" style="vertical-align: -2px"></span> </button>
                <button id="pumpBox" class = ' btn col-md-4 col-lg-4 ' style=" position: absolute; height:400px;  width: 100%; right: 0px; top:0px; opacity: 0;"></button>
                <button id = 'cashBox' class = 'col-md-4 col-lg-4 ' style="border: 2px solid black; background-color: #009201; position: absolute; height:100px;  width: 499px; text-align:center; top: 397px; left: -1px;">
                    <p id="cashText" class="btn" style="position: relative; font: 40px Helvetica;  color: white;  top: 0px;"> CASH IN </p>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <button id="leftButton" class="btn btn-default btn-lg btn-responsive" style="position:relative;z-index:2; float: left; top:80%;margin-left:30%;font:21px Arial; opacity:1"> <span class="glyphicon glyphicon-step-backward" style="vertical-align: -2px"></span><span id="leftText">Back</span></button>
        <button id ="rightButton" class="btn btn-success btn-lg btn-responsive" style="position:relative;z-index:2; float: right;top:65%;margin-right:24%;font:21px Arial; opacity:1"><span id="rightText">Continue</span><span class="glyphicon glyphicon-step-forward" style="vertical-align: -2px"></span> </button>
    </div>





    <script src="static/js/common.js"></script>
    <script src="static/{{ experimentname }}/lib/jquery.animate-colors.js"></script>
    <script src="static/{{ experimentname }}/lib/jquery.easing.1.3.js"></script>
    <script src="static/{{ experimentname }}/js/BART.js"></script>
    <script src="static/{{ experimentname }}/js/task.js"></script>

{% endblock %}