{% extends "base.html" %}
{% block headscripts %}
    <script type="text/javascript">
        // These fields are coming from the "/task" start_exp() in experiments.py
        var uniqueid = "{{ uniqueid }}";
        var sessionid = "{{ sessionid }}";
        var experimentname = "{{ experimentname }}";
        var surveyid = "{{ surveyid }}";
        var debug = "{{ debug }}";

    </script>
    <script src="static/{{ experimentname }}/lib/jquery.animate-colors.js"></script>
    <script src="static/{{ experimentname }}/lib/jquery.easing.1.3.js"></script>
    <script src="static/{{ experimentname }}/js/task.js"></script>
    <link rel=stylesheet href="static/{{ experimentname }}css/task_style.css" type="text/css">

    <style>
        #GameBox{
            background-color: beige;
            border-radius: 15px;
            border: 4px solid black;
            height: 500px;
            width: 500px;
            overflow: hidden;
            align-items: center;
        }

        .BARTim{
            position: absolute;
            bottom:30%;
            left: 50%;
            -webkit-transform: translate(-50%, -5%);
            -moz-transform: translate(-50%, -5%);
            -ms-transform: translate(-50%, -5%);
            -o-transform: translate(-50%, -5%);
            transform: translate(-50%, -5%);
        }

        #balloonIm{
            height: 20px;
            width: 20px;
        }
        #poppedIm{
            height:0;
            width:0;
        }

        #pumpContainer{
            background-color: white;
            height: 80%;
            top: 0;
        }

        #cashContainer{
            background-color: mediumspringgreen;
            height: 20%;
            bottom: 0;
            border-top: 2px dashed black;
            align-items: center;
            display: flex;
            width: 550px;
        }

    </style>
{#    <link rel="stylesheet" href="static/{{ experimentname }}/css/task_style.css">#}
{% endblock %}

{% block content %}
    <div class="row" style="height: 50px;"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4 col-lg-6 col-md-offset-4 col-sm-6 col-sm-offset-3" id="GameBox">
            <div id="pumpContainer">
                <p id="pumpText"> 0 tokens</p>
                <p id="tokenText">HOLDER</p>
                <img class='BARTim' id="balloonIm" src="static/{{ experimentname }}/images/PurpleBalloon.png"/>
                <img class='BARTim' id="poppedIm" src="static/{{ experimentname }}/images/purplePopped.png"/>
            </div>
            <div id="cashContainer">
                <p id="cashText">CASH IN</p>
            </div>
        </div>
    </div>





{##}
{#    <div id="BARTcontainer">#}
{#        <div id="pumpContainer" class="box">#}
            <p id="pumpText"> 0 tokens</p>
            <p id="tokenText">HOLDER</p>
{#            <img class='BARTim' id="balloonIm" src="static/{{ experimentname }}/images/PurpleBalloon.png"/>#}
{#            <img class='BARTim' id="poppedIm" src="static/{{ experimentname }}/images/purplePopped.png"/>#}
{#        </div>#}

{#    </div>#}
{% endblock %}