{% extends "base.html" %}
{% block headscripts %}
    <script type="text/javascript">
        // These fields are coming from the "/task" start_exp() in experiments.py
        var uniqueid = "{{ uniqueid }}";
        var sessionid = "{{ sessionid }}";
        var experimentname = "{{ experimentname }}";
        var surveyid = "{{ surveyid }}";
        var debug = "{{ debug }}";

    </script>
{% endblock %}s

{% block content %}

    <div class="row" style="height: 30px;"></div>

    <!-- Instructions block -->
    <p id="inst" class="instructions lead tasktext"></p>
    <div class="row"  id = 'taskContainer'>
        <div class = 'col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4' style="border: 2px solid black;background-color: #f8f7ff; position: absolute; height:500px; width: 500px; text-align:center;">
            <img id="balloonIm" src="static/{{ experimentname }}/images/PurpleBalloon.png" style="position: relative; height: 10%; top: 65%;"/>
        </div>
        <div id="pumpBox" class = 'col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4' style="position: absolute; height:400px;  width: 500px; text-align:center; opacity: 0;"></div>
        <div class = 'col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4' style="border: 2px solid black; background-color: #009201; position: absolute; height:100px;  width: 500px; text-align:center;top: 515px;">
            <p style="position:relative; text-align: center; top: 50%;"> CASH IN </p>
        </div>
    </div>
    <div class="row">
    <button id="leftButton" class="btn btn-default btn-lg btn-responsive" style="position:relative;z-index:2; float: left; top:80%;margin-left:30%;font:21px Arial; opacity:1"> <span class="glyphicon glyphicon-step-backward" style="vertical-align: -2px"></span><span id="leftText">Back</span></button>
    <button id ="rightButton" class="btn btn-success btn-lg btn-responsive" style="position:relative;z-index:2; float: right;top:65%;margin-right:24%;font:21px Arial; opacity:1"><span id="rightText">Continue</span><span class="glyphicon glyphicon-step-forward" style="vertical-align: -2px"></span> </button>
    </div>


    <script src="static/js/common.js"></script>
    <script src="static/{{ experimentname }}/js/BART.js"></script>
	<script src="static/{{ experimentname }}/js/task.js"></script>

{% endblock %}