<!doctype html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel=stylesheet href="static/css/bootstrap.min.css" type="text/css">
        <link rel=stylesheet href="static/css/style.css" type="text/css">
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr>
                <div class="legal well">
                    <p>
                    You have been invited to take part in a research study named categoryswitch-ef. 50-200 participants will be invited to participate in this study. 
                    </p>

                    <p> This research study is about our ability to categorize words quickly and its underlying psychological processes. <br><br>

                    Taking part in this study is completely voluntary.  You do not have to participate if you don't want to.  You may also leave the study at any time.<br><br>

                    There is only minimal risk to you. The only risk is mental fatigue. You may withdraw from the experiment if they experience discomfort. 

                    You may not receive any direct benefit from taking part in this study. However, your participation in this study may help us learn about human executive functioning and how to improve it.<br><br>

                    We will make every effort to maintain the privacy of your data. Your data will be stored using a subject number. It will not contain identifying information, like your name. Paper records will be stored in locked cabinets. Computer data will be password protected. If the computer data is backed up with an external hard drive, that drive will be stored in a locked cabinet.

                    Any records that identify you, like this consent form, will be separate from research data. This consent form will be kept in a locked file cabinet.<br><br>

                    Other than the researchers, only regulatory agencies such as the Office of Human Research Protections and the University of Colorado at Boulder Institutional Review Board may see your individual data as part of routine audits.<br><br>

                    If you have questions regarding your rights as a participant, any concerns regarding this project or any dissatisfaction with any aspect of this study, you may report them -- confidentially, if you wish -- to the Institutional Review Board, 3100 Marine Street, Rm A15, 563 UCB, (303) 735-3702. </p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr>
                <h4>Do you understand and consent to these terms?</h4>
                <br>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

