/*Module specific custom.css*/

/*---------------------------------------------------
 *              COMMON CSS
 ----------------------------------------------------*/

/* For Keep Track and CS feedback form*/
.hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
/*---------------------------------------------------
 *		CATEGORY SWITCH CSS
 ----------------------------------------------------*/

/*Custom dialog modal headers for Category Switch */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-correct { background-color: #5cb85c; }

.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
        .dialog-header-error span, .dialog-header-error h4,
        .dialog-header-correct h4,
        .dialog-header-wait span, .dialog-header-wait h4,
        .dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/*CS - Canvas for instructions and "j" and "F" buttons*/
#canvas {
   position: relative;
   padding-left: 0;
   left: 50%;
   top: 25%;
   margin-left:-370px ;
   z-index:1 ;

}

/*---------------------------------------------------
 *              KEEP TRACK CSS
 ----------------------------------------------------*/

/*KT -  Custom styling for sticky footer at bottom of page | CS -?*/
html, body {
    height: 100%;
    overflow: auto; /*So that scrollbars appear if the window becomes too small to include all the text*/
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
    overflow-x: hidden;
}

#main {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    clear:both;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #00294F;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: #efefef;
}

.footer a {
     color: #AEC4D9;
}
/*KT - End of custom styling for footer| CS -? */

/* Ease Display */
.pad { padding: 25px; }

/* correct,incorrect modal popups for Keep Track */
.modal-dialog {width: 400px;} 

/* KT- no | CS-no
.myText {
		position:absolute;
		left:50%;
		margin-left:-240px;
	}
*/

/* KT -defines position of instructions | CS - No */
.instructions {
   font-size: 24px;
   word-wrap: break-word;
   max-width: 500vw; /*width: 800px;*/
   max-height: 200vh;
   position:relative;
   margin-right: 20%;
   margin-left: 30%;
   z-index: 1;
}

/*KT - position of responses table | CS - No */
#responses {
   position:relative;
   top: 30%;
   margin-right: 20%;
   margin-left: 30%;
   z-index: 1;
}

/* KT - Yes.(?) | CS - No */
.topMessage {
   position:absolute;
   left: 50%; 
   top:30%;
   font:30px Arial; 
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

/* KT - Yes.(?) | CS -No*/
.bottomMessage {
   position:absolute;
   left: 50%; 
   top:45%;
   font:25px Arial; 
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

/* KT - Yes (For width of each button in the table) | CS - No */
.resp {
	width: 6.5em;
}

/*KT - Yes(For category names in response table) | CS - No*/
.btn-label {
	width: 5em;
	float: left;
	font-size: 16px;
}

/*KT - Responsive design conditions*/
@media screen and (max-width: 1200px){

    #leftButton {
    	right: 5%;
    }
    
}

/*KT - for the results page inherited from bootstrap.css*/
.container {
    padding-bottom: 40px;
}

@media screen and (max-width: 1300px) {
    .instructions {
        margin-left: 20%;
    }
    #responses {
    	margin-left: 20%;
    	
    }
    #rightButton {
    	right: 10%;
    }
    
    #leftButton {
    	right: 10%;
    }

    .resp {
    	width: 6.5em;
    }
}


@media screen and (max-width: 1100px) {
    #responses {
    	margin-left: 15%;
    	margin-right:15%;

    }
    #rightButton {
    	left: 5%;
    }
}
