
body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300; 
    font-size: 13pt; /*Active - Affects the font size in KT */
}


/* text styling */
strong {
  font-weight: 600;         
}

/* KT - No |CS - NO */
/*.warm {
  color: steelblue;
  text-align: justify;
}*/

/*KT - No | CS - No*/
/*.cool {
  color: #ccccff;
}*/

/* KT -NO |CS -NO */
/* these are all the same for now, but easy to modify individually */
/*#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    top: 0px; /* Header Height
    bottom: 0px; /* Footer Height
    left: 0px;
    right: 0px;
    padding: 250px;
    padding-top: 5%;
    background: white;
    overflow: hidden;
}*/

/* KT -No | CS -No */
/*#container-consent, #container-exp {  
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
}*/

/*KT -No | CS - No */
/* ad.html  - the ad that people view first */
/*#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}*/

/* KT - No | CS - No*/
/* consent.html - the consent form */
/*#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}*/

/*KT - NO | CS -No*/
/*.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}*/

/*KT -No | CS - No*/
/*#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}*/

/*KT -No | CS -No*/
/*#query {
  color: darkgray;
}*/

/* KT - no | CS - No */
/*.question {
  margin-bottom: 30px;
}*/

/* KT - no | CS - No */
/* errors */
/*#error img {
  padding-right: 10px;
  padding-top: 15px;
}*/



