{% extends "base.html" %}
{% block headscripts %}
	<script type="text/javascript">
		// These fields are coming from the "/task" start_exp() in experiments.py
		var uniqueid = "{{ uniqueid }}";
		var sessionid = "{{ sessionid }}"
		var experimentname = "{{ experimentname }}"
		var surveyid = "{{ surveyid }}"
		var debug = "{{ debug }}"
	</script>
	{% endblock %}
{% block content %}
<div id = "wrap">
	<div class="modal fade"  id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content dialog-header-error">
  				<br><br>
	        		<center><h3><font color="white">Incorrect! Try again!</font></h3></center>
  				<br><br>
	    		</div>
	  	</div>
	</div>

	<div class="modal fade"  id="correct">
		<div class="modal-dialog">
            		<div class="modal-content dialog-header-correct">
                		<br><br>
                		<center><h3><font color="white">That's right!</font></h3></center>
               			<br><br>
            		</div>
        	</div>	
	</div>
	<div id = "main">
		<br><br>
		<canvas id="canvas" width = 740 height = 360></canvas><br>
		<!-- F-key -->
		<button disabled id = "leftButton" class="btn btn-default" style="position:relative ;left: 50%; z-index:2; top:45%; margin-left:-380px;font:21px Arial; opacity:1"><img src="static/img/f_key.png" style="width:45px; height:45px" > <span id="leftText">Go back</span> </button>
		<!-- J-key -->
		<button disabled id = "rightButton" class="btn btn-default" style="position:relative ;left: 50%; z-index:2; top:45%; margin-left: 250px; margin-right:200px;font:21px Arial; opacity:1"><img src="static/img/j_key.png" style="width:45px; height:45px" > <span id="rightText">Continue</span> </button>
		<script src="static/js/common.js"></script>
		<script src="static/{{ experimentname }}/js/stimuli.js"></script>
		<script src="static/{{ experimentname }}/js/task.js"></script>
	</div> <!-- end of main -->
</div> <!-- end of wrap -->
{% endblock  %}	

