<!DOCTYPE html>
<html>
<head>
	<title>Category Switch</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Overall static folder 
		1. genesforgood.css
		2. Bootstrap.css
		3. Bootstrap-theme.min.css
		4. custom.css
	--> 
	<link rel=stylesheet href="static/css/genesforgood.css" type="text/css">  
        <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
	<link rel=stylesheet href="static/css/bootstrap-theme.min.css" type="text/css">
	<link href="static/css/custom.css" rel="stylesheet" media="screen">

	<!--JS -->
	<script src="static/lib/jquery-min.js" type="text/javascript"> </script>
	<script src="static/lib/underscore-min.js" type="text/javascript"> </script>
	<script src="static/lib/backbone-min.js" type="text/javascript"> </script>
	<script src="static/lib/d3.v3.min.js" type="text/javascript"> </script>
	<script src="static/lib/bootstrap.js" type="text/javascript"> </script>

	<script type="text/javascript">
		// These fields are coming from the "/task" start_exp() in experiments.py
		var uniqueid = "{{ uniqueid }}";
		var sessionid = "{{ sessionid }}"
		var experimentname = "{{ experimentname }}"
		var debug = "{{ debug }}"
	</script>

	<script src="static/js/dataHandler.js"></script>
</head>
<body>
<div id = "wrap">
	<div class="modal fade"  id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content dialog-header-error">
  				<br><br>
	        		<center><h3><font color="white">Incorrect! Try again!</font></h3></center>
  				<br><br>
	    		</div>
	  	</div>
	</div>

	<div class="modal fade"  id="correct">
		<div class="modal-dialog">
            		<div class="modal-content dialog-header-correct">
                		<br><br>
                		<center><h3><font color="white">That's right!</font></h3></center>
               			<br><br>
            		</div>
        	</div>	
	</div>
	

	<!-- New addition for banner -->
	<header>
		<nav class="nav nav-gfg-header">
	      <div class="container-fluid hidden-sm hidden-xs">
	        <div class="row">
	          <div class="col-md-6 col-sm-12 col-xs-12">
	            <a class="logo" rel="home" title="Home" ><img alt="Home" src="static/img/header_logo.png"></a>
	          </div>
	        </div>	<!-- end of class="row"-->
	      </div> <!-- end of class="container"-->
	      </nav>
   	</header>
<div id = "main">
	<br><br>
	
	<canvas id="canvas" width = 740 height = 500 style="position:absolute;padding-left: 0;left:50%; top:20%; margin-left:-370px;z-index: 1"></canvas>
	<!-- F-key -->
	<button disabled id = "leftButton" class="btn btn-default" style="position:absolute;left: 50%; z-index:2; top:65%;margin-left:-380px;font:21px Arial; opacity:1"><img src="static/img/f_key.png" style="width:45px; height:45px" > <span id="leftText">Go back</span> </button>
	<!-- J-key -->
	<button disabled id = "rightButton" class="btn btn-default" style="position:absolute;left: 50%; z-index:2; top:65%;margin-left:50px;font:21px Arial; opacity:1"><img src="static/img/j_key.png" style="width:45px; height:45px" > <span id="rightText">Continue</span> </button>
	
	<script src="static/js/common.js"></script>
	<script src="static/{{ experimentname }}/js/stimuli.js"></script>
	<script src="static/{{ experimentname }}/js/task.js"></script>
	</div> <!-- end of main -->
</div> <!-- end of wrap -->
	
<!-- New addition footer -->
<div class="footer">	
    <div class="row" >
     </div>
 </div> <!-- end of footer -->  
    <!-- / footer -->

</body>
</html>
