<!doctype html>

<html>
	<head>
		<title>COTwins</title>
		<link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
		<link rel=stylesheet href="/static/css/style.css" type="text/css">
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script>
  $(function() {
    $( "#slider" ).slider();
  });
  </script>
	</head>
	<body>
		<div id="container-ad">

			<div id="ad">
				<div class="row">
					<div class="col-xs-2">
						<!-- REPLACE THE LOGO HERE WITH YOUR  UNIVERSITY, LAB, or COMPANY -->
						<img id="adlogo" src="/static/img/gfg-logo.png" alt="Lab Logo" />
					</div>
					<div class="col-xs-10">
						<h1>Welcome to the GenesforGood server.</h1>
						<hr>
					    <div class="alert alert-warning">
					    	If you are an experimenter, you may access the  <a href="/dashboard">control dashboard</a>.<br><br>
					    	If you are a participant, you are probably here by mistake. If you think we've made an error, please feel free
					    	to contact the server manager, <a href="mailto:delavega@colorado.edu">Alejandro de la Vega</a> for more information.
					    </div>
					</div>
			</div>
		</div>
	</body>
</html>