<!doctype html>
<html lang="en">
  <title>Experiment Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="{{ url_for('.static', filename='css/style.css') }}">
  <link rel="stylesheet" media="screen" href="{{ url_for('.static', filename='css/DT_bootstrap.css') }}">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{ url_for('.static', filename='js/bootstrap.js') }}"></script>

  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class = "brand">Dashboard</a>
        <ul class="nav">
         {%- for endpoint, exp, caption in [
            ('dashboard.view', 'keep_track', 'Keep Track'),
            ('dashboard.view', 'keep_track_ref', 'Keep Track Reference'),
            ('dashboard.view', 'category_switch', 'Category Switch'),
            ('dashboard.login', 'None', 'Log In'),

          ] %}
      
         {% if endpoint == 'dashboard.login' %}
         <li{% if endpoint == request.endpoint %} class=active {% endif %}>
         {% if not session.logged_in %}
                <a href="{{ url_for('.login') }}">Log in</a>
              {% else %}
                <a href="{{ url_for('.logout') }}">Log out</a>
        {% endif %}
          
         {% else %}
          <li{% if request.args['experiment'] == exp %} class=active{% endif%}>
          <a href={{ url_for(endpoint) + "?experiment=" + exp }}>{{ caption }}</a>
         {% endif %} 

        {% endfor %}
        </div>
    </div>
    {% for message in get_flashed_messages() %}
      <div class="alert"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}</li>


