
<div class="container">
		<h1>Debriefing</h1>
		<hr>


		<div class="instructions">
		<p >Thanks again! The following is more information on what this study was about. Click Finish when you're done </p>

		<p>In this study, we were interested in people's ability to keep track of items in their "working memory". We all have a memory store in our brain that we use to keep track of important information, such as phone numbers, or things that we have to do. It's hard to switch them though. For example, if someone asks you to remember a phone number, but they gave you the wrong number and now you have to remember a new one, you might get confused. This task measures your ability to rapidly update your memory store. There is evidence that people vary substantially in how many items they can keep track of at the same time, an important aspect of cognition. 
		<br><br>
		If you have any questions, please contact the creator of the study, Alejandro de la vega (delavega@colorado.edu) </p>
		
		</div></div>



        <div class="row">
            <div class="col-xs-2">
            
      

            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
              <button type="button" id="next" value="next" class="btn btn-primary btn-lg">
                    Finish <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
	</div>

