<div id="container-questionnaire">
    <h1>Assesment Complete</h1>

    <hr>

    <p class='lead'>You are finished!  Thank you for your contributions to science. Please answers these questions so we can improve this study.</p>

    <div class="alert alert-warning hidden" id="noqs" role="alert">Please answer all of the questions</div>

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most engaged), rate how <b>ENGAGING</b> you found this assesment:
                </div>
                <div class="col-md-4">
                    <select id="engagement" name="engagement">
                        <option value="10">10 - Very engaging</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="NONE" SELECTED>------</option>
                        <option value="5">5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not engaged</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most difficult), rate how <b>DIFFICULT</b> you found this assesment:
                </div>
                <div class="col-md-4">
                    <select id="difficulty" name="difficulty">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="NONE" SELECTED>------</option>
                        <option value="5" >5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not difficult at all</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is the most informative), rate how <b>INFORMATIVE</b> the instructions were:
                </div>
                <div class="col-md-4">
                    <select id="informative" name="informative">
                        <option value="10">10 - Very informative</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="NONE" SELECTED>------</option>
                        <option value="5">5 - Moderately informative</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not informative at all</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    On a scale of 1-10 (where 10 is most distracting), rate how <b>DISTRACTING</b> your environment was during the assesment. Were there loud noises and things going on that distracted you?
                </div>
                <div class="col-md-4">
                    <select id="engagement" name="engagement">
                        <option value="10">10 - Very distracting</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="NONE" SELECTED>------</option>
                        <option value="5">5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not distracting</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    Please leave us any comments you have that can help us improve this task
                </div>
                <div class="col-md-4">
                    <textarea id="openended" cols="25" rows="5">
                    </textarea>
                </div>
            </div>
            <!-- end of a question -->
        </form>
         <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            
      

            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
              <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
    </div>





</div>
