<html>
    <head>

        <!-- New directory structure. Trial. -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <!-- CSS, Ion Slider scripts-->
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/ion.rangeSlider.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
        <script src="js/star-rating.js" type="text/javascript"></script>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
            <!-- SLIDER Skins -->
        <!-- <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css"/> -->
        <link rel="stylesheet" href="css/ion.rangeSlider.skinHTML5.css" />
        <!-- <link rel="stylesheet" href="css/ion.rangeSlider.skinModern.css" /> -->
        <!-- <link rel="stylesheet" href="css/ion.rangeSlider.skinNice.css" /> -->
        <!-- <link rel="stylesheet" href="css/ion.rangeSlider.skinSimple.css" /> -->

        <!-- All JS -->
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/ion.rangeSlider.js"></script>
        <link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" />
        <!-- CSS and Ion Slider scripts-->
        <!-- <link rel=stylesheet href="/static/css/ionslider/normalize.css" />
        <link rel=stylesheet href="/static/css/ionslider/ion.rangeSlider.css" />
        <script src="/static/css/style.css" type="text/css"></script>
        <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css"> -->
        <!-- SLIDER Skins -->
        <!-- <link rel="stylesheet" href="/static/css/ionslider/ion.rangeSlider.skinFlat.css"/> -->
        <!-- <link rel=stylesheet href="/static/css/ionslider/ion.rangeSlider.skinHTML5.css" />
        <link rel="stylesheet" href="/static/css/ionslider/ion.rangeSlider.skinModern.css" />
        <link rel="stylesheet" href="/static/css/ionslider/ion.rangeSlider.skinNice.css" />
        <link rel="stylesheet" href="/static/css/ionslider/ion.rangeSlider.skinSimple.css" /> -->

        <!-- All JS -->
        <!--<script src="/static/js/jquery-1.11.3.min.js"></script>
        <script src="/static/js/ion.rangeSlider.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
        
        <script>
        $(function() {
            //DIFFICULTY SLIDER
            $("#difficulty_slider").ionRangeSlider({
                hide_min_max: true,
                keyboard: true,
                min: 0,
                max: 10,
                from: 0,
                type: 'single',
                step: 10,
                 drag_interval: true,
                //prefix: "",
                //postfix: "",
                values: [
                            "Not rated", "Not difficult", "2",
                            "3", "4", "Somewhat difficult" ,"6", "7", "8",
                            "9", "Very difficult"
                        ],
                grid: true,
                grid_num: 8,
                prettify_enabled: true
            });

            //DISTRACTION SLIDER
            $("#distraction_slider").ionRangeSlider({
                hide_min_max: true,
                //keyboard: true,
                min: 0,
                max: 10,
                from: 0,
                type: 'single',
                //step: 1,
                //prefix: "",
                //postfix: "",
                values: [
                            "Not rated","No distraction", "2", "3",
                            "4", "Some distractions",
                            "6", "7", "8",
                            "9", "Frequent interruptions"
                        ],
                grid: true,
                grid_num: 10,
                prettify_enabled: true
            });
        });
        </script>
    </head>

    <body>
        <div id="container-questionnaire">
        <h1>You have successfully completed the test! </h1><br>
        <p class='lead'>Please answer these questions so we can improve this study.</p>

        <div class="alert alert-warning hidden" id="noqs" role="alert">Please answer all of the questions</div>

            <form id="postquiz" action="debrief" method="post">

                <!-- beginning of a question -->
                <div class="row">
                    <div class="col-md-4">
                        <h4>How would you rate this test?</h4>
                    </div>

                    <div class="col-md-7">
                        <div>
                             <input id="rating" value="" type="number" class="select rating rating-loading" min=0 max=5 step=1 data-stars="5" data-size="sm" data-show-clear="false" data-show-caption="true">
                        </div>
                    </div>
                     <div class="col-md-1">
                        
                    </div>
                    
                </div>
                <!-- end of a question -->
                <hr>
                <!-- beginning of a question -->
                <div class="row">
                    <div class="col-md-4">
                        <h4>How difficult did you find this test?</h4>
                    </div>
                    <div class="col-md-7">
                        <input class="select" type="text" id="difficulty" name="difficulty" value="" />
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <!-- end of a question -->
                <hr>
                <!-- beginning of a question -->
                <div class="row">
                    <div class="col-md-4">
                        <h4>How distracting was your environment?</h4>
                    </div>
                   
                    <div class="col-md-7">
                        <input class="select" type="text" id="distraction" name="distraction" value="" />
                    </div>
                    <div class="col-md-1"></div>
                   
                </div>
                <!-- end of a question -->
                <hr>
                <!-- beginning of a question -->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Did anyone help you?</h4>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <!-- <input type="checkbox" checked data-toggle="toggle" data-on="Yes" data-off="No"> -->
                            <fieldset>
                               <div class="select switch-toggle well">
                                <input id="extrahelp" name="view3" value="no_resp" type="radio" checked>
                                <label for="extrahelp" onclick="">No Response</label>

                                <input id="extrahelp" name="view3" value="yes"type="radio" >
                                <label for="extrahelp" onclick="">Yes</label>
                                                               

                                <input id="extrahelp" name="view3" value="no" type="radio">
                                <label for="extrahelp" onclick="">No</label>

                                <a class="btn btn-primary btn-sm"></a>
                              </div>
                            </fieldset>
    					</div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
                <!-- end of a question -->
                <hr>
                <!-- beginning of a question -->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Please let us know if you have any additional comments that could help us improve your experience.</h4>
                    </div>
                    <div class="col-md-8">
                        <textarea class= "select" id="openended" cols="80" rows="4" placeholder="Please enter feedback here. Thank you!"></textarea>
                    </div>
                </div>
                <!-- end of a question -->
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-7"></div>
                    <div class="col-md-1">
                        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                        Finish <span class="glyphicon glyphicon-arrow-right"></span>
            			</button>
                    </div>
                </div>
                <!--
                if {{ experimentname }} ==  "category_switch"
                    <script src="static/{{ experimentname }}/js/CStask.js"></script>
                else
                    
                --> 
            </form>
            
            </div>
        </div>
        </div>
            
        </div>
    </body>

</html>