<head>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script>
  $(function() {
    $( "#slider" ).slider();
  });
  </script>
</head>

<body>
<link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
<link rel=stylesheet href="/static/css/style.css" type="text/css">

<div id="container-questionnaire">
    <h3>You are finished!  </h3>
    <p class='lead'>Please answers these questions so we can improve this study.</p>

    <div class="alert alert-warning hidden" id="noqs" role="alert">Please answer all of the questions</div>

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-6">
                    Rate how <b>ENGAGING</b> you found this test:
                    <div id="slider"></div>
                </div>

                <div class="col-md-4">
                    <!-- <select id="engagement" name="engagement">
                        <option value="10">10 - Very engaging</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="NONE" SELECTED>------</option>
                        <option value="5">5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not engaged</option>
                    </select> -->
                    <p> Engagement slider here </p>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-6">
                    Rate how <b>DIFFICULT</b> you found this test:
                </div>
                <div class="col-md-4">
                    <!-- <select id="difficulty" name="difficulty">
                        <option value="10">10 - Very difficult</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="NONE" SELECTED>------</option>
                        <option value="5" >5 - Moderately difficult</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not difficult at all</option>
                    </select> -->
                    <p> difficulty slider here </p>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-6">
                    Rate how <b>INFORMATIVE</b> the instructions were:
                </div>
                <div class="col-md-4">
                    <!-- <select id="informative" name="informative">
                        <option value="10">10 - Very informative</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="NONE" SELECTED>------</option>
                        <option value="5">5 - Moderately informative</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not informative at all</option>
                    </select> -->
                     <p> informative slider here </p>
                </div>
            </div>
            <!-- end of a question -->


            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-6">
                    Rate how <b>DISTRACTING</b> your environment was during the test:
                </div>
                <div class="col-md-4">
                    <!-- <select id="engagement" name="engagement">
                        <option value="10">10 - Very distracting</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="NONE" SELECTED>------</option>
                        <option value="5">5 - Moderately</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                        <option value="0">0 - Not distracting</option>
                    </select> -->
                    <p> distracting slider here </p>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-4">
                    Please leave any other comments you may have.
                </div>
                <div class="col-md-4">
                    <textarea id="openended" cols="45" rows="2">
                    </textarea>
                </div>
            </div>
            <!-- end of a question -->
        </form>
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Finish <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
        </div>
    </div>
    </div>





</div>
