{% extends "base.html" %}

	{% block headscripts %}
	<script type="text/javascript">
		// These fields are coming from the "/task" start_exp() in experiments.py
		var uniqueid = "{{ uniqueid }}";  // a unique string identifying the worker/task
		var experimentname = "{{ experimentname }}"
		var sessionid = "{{ sessionid }}"
		var debug = "{{ debug }}"
	</script>
	{% end block %}

	{% block content %}
	<div id="wrap">
	<div class="modal fade"  id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div style="background-color: #d2322d;" class="modal-content dialog-header-error">
                                <br><br>
                                <center><h3><font id="errortext" color="white">Incorrect! Try again.</font></h3></center>
                                <br><br>
                        </div>
                </div>
        </div>

        <div class="modal fade"  id="correct">
                <div class="modal-dialog">
                        <div style="background-color: #5cb85c;" class="modal-content dialog-header-correct">
                                <br><br>
                                <center><h3><font color="white">That's right!</font></h3></center>
                                <br><br>
                        </div>
                </div>
	</div>


	<div id = "main">
	<br><br><br><br>
	<p id="inst" class="instructions lead tasktext"></p>
	<p id="topText" class="topMessage tasktext"></p>
	<p id="bottomText" class="bottomMessage tasktext"></p>

	<div class = "well hidden" style="width:650px; max-width: 80%; padding-right: 10px;padding-left: 10px;z-index:2; /*margin-left: 10%*/" id="responses">
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c1">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp ">2</button>
				<button type="button" class="btn btn-default resp ">3</button>
				<button type="button" class="btn btn-default resp ">4</button>
				<button type="button" class="btn btn-default resp ">5</button>
				<button type="button" class="btn btn-default resp ">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c2">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c3">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c4">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c5">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c6">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div>
		</div>
	</div>


	<button id="leftButton" class="btn btn-default btn-lg btn-responsive" style="position:relative;z-index:2; float: left; top:80%;margin-left:30%;font:21px Arial; opacity:1"> <span class="glyphicon glyphicon-step-backward" style="vertical-align: -2px"></span><span id="leftText">Back</span></button>


	<button id = "rightButton" class="btn btn-success btn-lg btn-responsive" style="position:relative;z-index:2; float: right;top:65%;margin-right:24%;font:21px Arial; opacity:1"><span id="rightText">Continue</span><span class="glyphicon glyphicon-step-forward" style="vertical-align: -2px"></span> </button>

	<script src="static/js/common.js"></script>
	<script src="static/{{ experimentname }}/js/kt.js"></script>
	<script src="static/{{ experimentname }}/js/kt_instructions.js"></script>
	<script src="static/{{ experimentname }}/js/task.js"></script>
	
{% endblock %}
