<!DOCTYPE html>
<html>
<head>
	<title>Keep Track</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap -->
	<!-- Overall static folder 
		1. Bootstrap.min.css
		2. Bootstrap-theme
		3. genesforgood.css
		4. Overall styling - style.css
	-->
	<link href="static/css/custom.css" rel="stylesheet" media="screen">
	<link href="static/css/bootstrap.css" rel="stylesheet" media="screen"> 
   	<link rel=stylesheet href="static/css/bootstrap-theme.min.css" type="text/css">
   	<link rel=stylesheet href="static/css/genesforgood.css" type="text/css"> 
   	<link rel=stylesheet href="static/css/style.css" type="text/css"> 

	<script src="static/lib/jquery-min.js" type="text/javascript"> </script>
	<script src="static/lib/underscore-min.js" type="text/javascript"> </script>
	<script src="static/lib/backbone-min.js" type="text/javascript"> </script>
	<script src="static/lib/d3.v3.min.js" type="text/javascript"> </script>
	<script src="static/lib/bootstrap.js" type="text/javascript"> </script>


	<script type="text/javascript">
		// These fields are coming from the "/task" start_exp() in experiments.py
		var uniqueid = "{{ uniqueid }}";  // a unique string identifying the worker/task
		var experimentname = "{{ experimentname }}"
		var sessionid = "{{ sessionid }}"
		var debug = "{{ debug }}"
	</script>

	<script src="static/js/dataHandler.js"></script>
	<style>
	  	/* Custom styling for sticky footer at bottom of page*/
		html, body {
		  height: 100%;
		}

		#wrap {
		  min-height: 100%;
		  height: auto !important;
		  height: 100%;
		  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
		  overflow-x: hidden;
		}

		#main {
		  height: 100%;
		  overflow: auto;
		  overflow-x: hidden;
		  overflow-y: auto;
		  padding-bottom:150px; /* this needs to be bigger than footer height*/
		}

		.footer {
			clear:both;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			background-color: #00294F;
			font-size: 110%;
			position: fixed;
			width: 100%;
			bottom: 0;
			left: 0;
			padding: 1rem;
			text-align: center;
			color: #efefef;
			
			}

		.footer a {
		    color: #AEC4D9;
		}  
	</style>

</head>
<body>
<div id="wrap">
	<div class="modal fade"  id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                        <div style="background-color: #d2322d;" class="modal-content dialog-header-error">
                                <br><br>
                                <center><h3><font id="errortext" color="white">Incorrect! Try again.</font></h3></center>
                                <br><br>
                        </div>
                </div>
        </div>

        <div class="modal fade"  id="correct">
                <div class="modal-dialog">
                        <div style="background-color: #5cb85c;" class="modal-content dialog-header-correct">
                                <br><br>
                                <center><h3><font color="white">That's right!</font></h3></center>
                                <br><br>
                        </div>
                </div>
	</div>

	<!-- New addition for banner:hidden-sm hidden-xs -->
	<header>
		<nav class="nav nav-gfg-header">
	      <div class="container-fluid ">
	        <div class="row">
	          <div class="col-md-6 col-sm-12 col-xs-12">
	            <a class="logo" rel="home" title="Home" ><img alt="Home" src="static/img/header_logo.png"></a>
	          </div>
	        </div>	<!-- end of class="row"-->
	      </div> <!-- end of class="container"-->
	    </nav>
   	</header>
	<div id = "main">
	<br><br><br><br>
	<p id="inst" class="instructions lead tasktext" style='font-size:140%'></p>
	<p id="topText" class="topMessage tasktext"></p>
	<p id="bottomText" class="bottomMessage tasktext"></p>

	<div class = "well hidden" style="width:650px; max-width: 80%; padding-right: 10px;padding-left: 10px;z-index:2; /*margin-left: 10%*/" id="responses">
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c1">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp ">2</button>
				<button type="button" class="btn btn-default resp ">3</button>
				<button type="button" class="btn btn-default resp ">4</button>
				<button type="button" class="btn btn-default resp ">5</button>
				<button type="button" class="btn btn-default resp ">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c2">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c3">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c4">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c5">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div><br>
		</div>
		<div class='hidden' class='namebuttons'>
		<span class="btn-label">Category</span>
			<div class="btn-group" role="group" aria-label="..." id = "c6">
				<button type="button" class="btn btn-default resp">1</button>
				<button type="button" class="btn btn-default resp">2</button>
				<button type="button" class="btn btn-default resp">3</button>
				<button type="button" class="btn btn-default resp">4</button>
				<button type="button" class="btn btn-default resp">5</button>
				<button type="button" class="btn btn-default resp">6</button>
			</div>
		</div>
	</div>


	<button id="leftButton" class="btn btn-default btn-lg btn-responsive" style="position:relative;z-index:2; float: left; top:80%;margin-left:30%;font:21px Arial; opacity:1"> <span class="glyphicon glyphicon-step-backward" style="vertical-align: -2px"></span><span id="leftText">Back</span></button>


	<button id = "rightButton" class="btn btn-success btn-lg btn-responsive" style="position:relative;z-index:2; float: right;top:65%;margin-right:24%;font:21px Arial; opacity:1"><span id="rightText">Continue</span><span class="glyphicon glyphicon-step-forward" style="vertical-align: -2px"></span> </button>

	<script src="static/js/common.js"></script>
	<script src="static/{{ experimentname }}/js/kt.js"></script>
	<script src="static/{{ experimentname }}/js/kt_instructions.js"></script>
	<script src="static/{{ experimentname }}/js/task.js"></script>

	<!-- which is the script for feedback questions -->
	
<!-- New addition footer -->
<div class="footer">	
    <div class="row" >
      <!-- <div class="col-xs-12" align="center">&COPY; 2016 The Regents of the University of Michigan www.umich.edu. <a href="http://genesforgood.sph.umich.edu" target="_BLANK">Click here to learn more about this study</a></div> -->
    </div>
 </div> <!-- end of footer -->  
    <!-- / footer -->
</body>
</html>
