
<div class="container">
		<h1>Debriefing</h1>
		<hr>

		<div class="instructions">
		<p >Thanks again! The following is more information on what this study was about. Click Finish to go back Mechanical Turk. </p>
		<div id="debriefingtext" class="well">
		<p>In this study, we were interested in people's ability to rapildy switch back and forth
		between different types of judgments. People take time to switch from making one judgment,
		such as deciding if something is living or nonliving, to a different judgment like deciding
		if something is bigger or smaller than a soccer ball. Our research indicates that how long you 
		take to switching between those two is indicating of your general ability to switch between
		mental tasks or activities. People that switch faster may see daily benefits. 
		In the current study, we are perfecting our online based measures of switching for further research.</p>
		
		<p>If you have any questions about this research, you may contact the
		principal investigator, Scott Vrieze at University of Colorado Boulder.</p>
		</div></div>
	                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Finish <span class="glyphicon glyphicon-arrow-ok"></span>
                </button>
	</div></dib>
