
#task-container {

    height: 100%;
    min-height: 100%;
    display: block;
    border: 2px solid black;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    min-height: 100%;
    height: 100%;
}

html, body {
    height: 90%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

#balloon-image {
    position: fixed;
    top: 100px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    height: 100px;
}

#result-text {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    opacity: 0;

}
.action-text {
    position:absolute;
    left: 50%;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pump-text {
    top: 60%;
    transform: translate(-50%, -60%);
    color: #c6c6c6;
    opacity: 0;
}

#cash-text {
    top: 20%;
    transform: translate(-50%, -20%);
    color: white;
}


#instructions-box {
    position: absolute;
    left: 60%;
    top: 23%;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 10px;
    opacity: 0;
    text-align: center;
    z-index: 10;
}


#chart {
    position: absolute;
    height:60%;
    width:80%;
    top: 20%;
    left: 10%;
    visibility: hidden;
    opacity: 0;
}

#chart-border {
    position: absolute;
    height:61%;
    width:81%;
    top: 20%;
    left: 9.5%;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    visibility: hidden;
    opacity: 0;

}

.chart-bar {
    background-color: #40b1b9;
    position: absolute;
    height: 10%;
    width: 5%;
    border: 1px solid black;
    bottom: 0;
}

.chart-action {
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 5%;
    bottom: 0;
}

#progress-container {
    position: absolute;
    height: 10%;
    width: 20%;
    top: 5%;
    right:5%;
}

