
#GameBox{
            background-color: beige;
            border-radius: 15px;
            border: 4px solid black;
            height: 500px;
            width: 500px;
            overflow: hidden;
            padding:0px;
        }

        .BARTim{
            position: absolute;
            bottom:30%;
            left: 50%;
            -webkit-transform: translate(-50%, -5%);
            -moz-transform: translate(-50%, -5%);
            -ms-transform: translate(-50%, -5%);
            -o-transform: translate(-50%, -5%);
            transform: translate(-50%, -5%);
        }

        #balloonIm{
            height: 20px;
            width: 20px;
        }
        #poppedIm{
            height:0;
            width:0;
        }

        #pumpContainer{
            background-color: white;
            height: 80%;
            top: 0;
        }

        #cashContainer{
            background-color: mediumspringgreen;
            height: 20%;
            bottom: 0;
            border-top: 2px dashed black;
            align-items: center;
            display: flex;
        }

        #cashText{
            font: 40px Helvetica;
            color: white;
            margin:auto;
        }

        #tokenText{
            top: 60%;
            left: -50%;
            font: 40px arial black;
            color: green;
            position: absolute;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            white-space: nowrap;
        }


div{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}