{% extends "layout.html" %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="span8">
          <h2>Welcome to the Genes for Good experiment dashboard</h2>
          <p class="lead">
            To access this dashboard, you must be a verfied University of Michigan, or affiliated researcher. <br><br>

            Please log in to continue...
          </p>  
       </div>
      </div>
      <script src="http://code.jquery.com/jquery.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
    </div>
{% endblock %}
