{% extends "layout.html" %}

{% block body %}
      <div class="row">
        <div class="span3">
      <form class="form-signin" action="{{ url_for('.login') }}" method=post>
        <h2 class="form-signin-heading">Please log in</h2>
        <input type="text" class="input-block-level" placeholder="User name", name=username>
        <input type="password" class="input-block-level" placeholder="Password", name=password>
        <button class="btn btn-large btn-primary" type="submit">Log in</button>
      </form>
      {% if error %}<p class="alert"><strong>Error:</strong> {{ error }}{% endif %}
    </div>

{% endblock %}